*{
    box-sizing: border-box;
}
body{
    background: #E5E5E5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
   margin: 0 0;
    
}
::-webkit-scrollbar{
    display: none;
}
.header{
    /* background-color: red; */
    margin-top: 10px;
    padding-top: 3rem;
    display: flexbox;
    justify-content: space-between;

    /* width: 100vw; */
}
#logo{
   
   width: 35vw;
   /* border: 2px solid red; */
}

.menu{
    
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 1rem 1rem
    
}
.lang{
    font-family: 'Hind', sans-serif;
}
.lang > span {
    padding: 0 0.06rem;
}
.home{
    padding-right: 0.4rem;
    font-weight: bold;
}
.home_sub_1{
    padding-left: 0.4rem;
}
.menu>ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    list-style-type: none;
}
.top_menu >ul{
    display: flex;justify-content: space-between;font-weight: bold;padding-right: 2rem;list-style-type: none;
}
.top_menu > li{
    display: inline; padding: 0 1rem;font-weight:400;
}
.top_menu > a{
 text-decoration: none;
}
.top_menu {
    list-style-type: none;font-size: 0.8rem;width: 30=rem;font-family:'Lato',sans-serif;font-weight: 300;
}

li>a{
    text-decoration: none;
    color :#232323;
}
.jumbo-box{
    color:#FFFFFF;
  background: linear-gradient(180deg, rgba(0, 103, 179, 0.8) 0.52%, #5183B8 17.71%, #5183B8 55.73%);
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 40px 7rem;
  height: 17rem;
  
}
#jumbo-box-2{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-top: 6rem;
     font-weight: lighter;
}
#jumbo-box-2 h3{
  font-weight: 400;
font-size: 1.5rem;
}
.tips{
    padding: 3rem 7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:100;
    font-size: 0.9rem;
    color: #333333;
    line-height: 1.5;
}
.footer1{
background-color:#E7E7E7 ;
color: #232323;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 100%;
display: flex ;
padding: 0 1rem;
flex-direction: row;

justify-content: space-between;
}
.footer2{
background-color: #232323;
color: #EEEEEE;
padding: 1rem 2.5rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 0.7rem;
width: 100%;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 18rem;
    font-size: 0.8rem;
   
    
}
.social-logo{
    width: 1.5rem;
    border-radius: 50%;
    background-color: grey;

}
#page-count{
 display: inline; 
 font-size: 0.8rem;
 margin-top: 0.6rem;
 margin-right: 3rem;
}
.pic-bg{
    background: linear-gradient(to bottom, #E5E5E5 50%, #5183B8 50%); 
   
  width: 100%;
   display:flex;
   margin-top: 4rem ;
   justify-content: space-evenly;
   
}
.pic-b{
    background: linear-gradient(to bottom, #E5E5E5 50%, #5183B8 50%); 
   
  width: 100%;
  
   margin-top: 4rem ;
 
   
}
/* .contents{
    display: flex;
    flex-direction: column;
    
} */

.content{
    padding: 3rem 0;
    font-family: 'Lato', sans-serif;
    color: black;
   
}

.content-head{
    padding: 0rem 8rem;
    padding-bottom: 3rem;
    font-weight: 400;
    font-size: 1.8rem;
    color: #4C4C4C;
}
.pics{
    width: 20rem;
    height: 20rem;
    filter: grayscale(3);
    
}

.sub-footer_2-content_heading{
    font-weight: 500;
}
.pics:hover{
    filter: grayscale(0);
}
.pic-details{
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns: 25rem 30rem 25rem ;
    justify-content: space-evenly;
 
    font-family: 'Lato', sans-serif;
    height: 20vh;

}
.pic-details div{
padding: 1rem 8rem;

}
.posts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hr_element{
    border: 2px solid #FFD53D;
    background-color: #FFD53D;
    width: 10rem;
}
.social{
    display: flex;
    justify-content: space-around;
    width: 25rem;
}
.footer{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
   padding: 2rem 0;
    justify-content: space-between;
   margin-top: 5rem;
   margin-bottom: 2rem;
}
.sub-footer{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-content: center;

   width: 100%;
   padding: 0 5rem;
 
}
.social-logo_footer{
    display: flex;justify-content: space-between;margin-top: 2rem;width: 15rem;
}
.social-logo_footer >img{
    width: 2rem;
    border-radius: 50%;
    background-color: grey;
}
.problem{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
    width: 100%;
   
}
.header1{
    display: flex;
   padding: 0 6rem;
   justify-content: space-between;
   align-items: center;
    
    align-content: center;
}
.major{
    display: flex;justify-content: space-evenly;width: 100%;
}
.first-minor{
    display: flex;flex-direction:column;align-items:center;width: 100%;justify-content: space-between;
    padding: 2rem 0;
}
.first-minor_1{
    background: linear-gradient(to bottom, #E5E5E5 50%, #5183B8 50%); width: 100%;display: flex;justify-content: center;
    
padding: 0 4rem;
}
.first-minor_5{
    margin-top: 3%;
    display:flex;flex-direction:row;
    width: 10rem;
    justify-content: space-evenly;
}
.first-minor hr{
    border: 2px solid #FFD53D;
    width: 10rem;
}
.first-minor_2{
   font-family: 'Lato',sans-serif;padding: 1rem 0;font-weight: 400;font-size: 1.4rem;font-style: normal;color: #232323;
   padding: 0 4rem;
   padding-top: 2rem;
}
.first-minor_3{
    padding: 1rem 4rem;
    font-weight: 300;
}
.side-nav{
   
    display: inline;
}
.side-nav_1{
    display: inline;
}
.dropdown{
    width:25px;
    padding-left: 1rem;

}
.people-pic{
    width: 20rem;
}
#sub-footer_3{
    font-weight: bold;padding: 0rem auto;
    align-content:  center;
    justify-content: center;
    font-weight: bold;
    font-family: "lato";

}
#sub-footer_2{
    display:flex;flex-flow: row nowrap;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;justify-content: space-between;
    padding: 0 0;
    
}
.mode{
    display:flex ;list-style-type: none;flex-flow: row nowrap;justify-content: space-evenly;width: 8rem;font-family:lato;
}
.light_mode{
    display: inline;padding: 5px 10px;border: 1px solid 
        #1A76BB;border-radius: 4px;
}
.dark_mode{
    display: inline;padding: 5px 10px;color: aliceblue;background-color: #1A76BB;border-radius: 4px;border: 1px solid #1A76BB;
}
.side-nav-sections-def{
    display:flex;flex-direction: column;flex-wrap: nowrap;
}
.margin >span{
    padding-top: 0.3rem;
    margin: 0 1rem;
    padding-left: 0.025rem;
}
.email{
   display: flex;
}
.email > img{
    width: 30px;
}
.email >span {
    padding-top: 0.4rem;margin: 0 1rem;
}
.preview{
    background-color: grey;width: 272px; height: 184px;padding: 0 2rem;
}
.upper{
    display: inline;font-size: 1.1rem;
}
.lower{
    display: inline;font-size: 0.8rem;
}
.normal{
    display: inline;font-size: 0.95rem;
}
.search{
    padding-left: 1rem;
}
.salutation > img {
    display: inline; padding: 2px 8px;
}
.salutation{
    padding: 1rem 0rem;display: flex;
}
.photo_credits{
    padding: 1rem 0rem;
}
.side-nav_1_upper{
    display:flex;flex-direction: row;align-content: center;justify-content: space-between;align-items: center;
}
.margin{
    margin: 2rem 0;
    display: flex;
}
.font_size{
    display:flex ;list-style-type: none;flex-flow: row nowrap;justify-content: space-between;width: 7rem;align-items: flex-end;font-family:lato;
}
.phone_img{
    width: 30px;
}
#sub-footer_1{
    padding: 0 0;
    padding-left: 5rem;
    font-weight: bold;
}
#sub-footer_3 >div {
      display: inline;
      font-weight: bold;
}
.hamburger{
  display: none;
}
.hamburger-pic{
    width: 3rem;
    padding: 0 1rem;
}
.sub-footer_1{
    padding:0 auto;
}
.sub-footer_2-content{
    display:flex;flex-direction:column;justify-content: space-between;padding: 0rem 2rem;flex-wrap: nowrap;
 
   

}
.footer-links{
    text-decoration: none;color :#232323;
    font-size: 0.9rem;
}
.major_hr{
    border: 1px solid #80B3D9;
    background-color: #80B3D9;
   margin-right: 3rem;
   margin-left: 5rem;
}
.Downloads{
    padding: 1rem 0rem;font-weight: bold;display: flex;
}
.Downloads >span{
      padding: 0.0125rem;
}


@media only screen and (max-width: 1200px){
 
    .body{
        overflow-x: hidden;
    }
    .menu {
        display: none;
     }
     .major_hr{
         width: 100%;
         margin-right: 0;
         margin-left: 0;
     }
     .side-nav_1{
       display: none;
     }
     .major{
         flex-direction: column;
     }
     .hamburger{
         display: inline;
        padding-left: 10%;

       
     }
     .header1{
        
         padding: 0 0;
         justify-content: flex-start;
     }
     .header1{
         align-content:center;
     }
    .side-nav{
    margin: 0 auto;
      display: flex;
    }
    #logo{
        width: 25rem;
    }

     
}
@media only screen and (max-width: 800px){
    .Downloads{
        width: 100%;
        justify-content: center;
    }
    .footer{
        display: grid;
     
        grid-template-rows: 1fr 1fr 1fr;
        padding: 3rem 0;
        justify-content: space-between;
        align-content: flex-start;
      grid-template-columns: 0;
      
    }
    
    .sub-footer{
        
     width: 100vw;
        padding: 2rem 0;
        align-items: center;
      
      
    }
    .menu {
       display: none;
    }
    .side-nav_1{
      display: none;
    }
    .major{
        flex-direction: column;
    }
    .header1{
        justify-content: center;
        align-content: flex-start;
        width: 100%;
    }
    .jumbo-box{
        width: 100%;
    }
    .hamburger{
        display: inline;
    }
#sub-footer_3{
   padding:1rem 0

}
#sub-footer_2{
    width: 100vw;
  justify-content: center;
   margin-top: 2rem;

}
#sub-footer_1{
    padding: 0 0;
}
#page-count{
    display: none;
}
.sub-footer_2-content{
    display:flex;flex-direction:column;justify-content: space-between;padding: 0rem 2rem;flex-wrap: nowrap;
 
    height: 100%;
  
   /* width: 50vw;
    */
   
}
.jumbo-box{
    padding: 30px 5rem;
}
.tips{
 padding: 2.5rem 4rem;

    
}

body{
    width: 100%;
    overflow-x: hidden;
}
}
@media only screen and (max-width: 500px){
      .side-nav{
          margin:0 0;
      }
      #logo{
          width: 17rem;
      }
      .first-minor_2{
          font-size: 1.2rem;
      }
     .header1{
         justify-content: flex-start;
         align-content: center
         
     }
}
